
#divWatherMain{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
    display: block;
    margin: 0 auto;
    width: fit-content;
}


.cloudDiv{
    margin-top: -65px;
}

.iconCentral{
    filter: drop-shadow(1px 1px 15px rgba(250, 242, 250, 0.7));
}

.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow(1px 1px 5px rgba(250, 242, 250, 0.7));
    /*Aplicacion de animación*/
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/*Animacion*/
@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}